<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>tere files</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <h1>Generated videos</h1>
      <div class="row">
      <table>
           {% for file in all_files %}
<tr>
    <td><a href="get_file/{{file}}"> {{file }}</a></td>
</tr>
          {% endfor %}
      </table>
      </div>
      

    </div> <!-- /container -->
  </body>
</html>
